<section class="action-buttons">
  <button mat-stroked-button color="primary" routerLink="add">Dodaj produkt</button>
</section>
<table class="table-details">
  <tr>
    <th>Id</th>
    <th>Nazwa</th>
    <th>Cena</th>
    <th>Ilość w magazynie</th>
    <th>Akcje</th>
  </tr>
  <tr *ngFor="let warehouse of warehouses; let rowIndex = index">
    <td>
      {{ warehouse.id }}
    </td>
    <td>
      {{ warehouse.product.name }}
    </td>
    <td>
      {{ warehouse.price }}
    </td>
    <td>
      {{ warehouse.quantity}}
    </td>
    <td>
      <button [routerLink]="['/', 'admin-panel', 'warehouse', 'edit', warehouse.id]" matTooltip="Aktualizuj stan magazynowy" mat-button><mat-icon>edit</mat-icon></button>
    </td>
  </tr>
</table>
